@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 60px;
    padding-bottom: 15px;
}

.wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
    text-align: center;
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-box {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 50%;
}

.top-search-bar {
    border: none;
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: 800;
}

.menu-item {
    margin-left: 20px;
}

.announcement-container {
    text-align: center;
    background-color: #E91E63;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 50%;
    z-index: 2;
}

.slide-content {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
}

.slider-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.slider-img {
    height: 100%;
    flex: 1;
}

.slider-img {
    margin-left: 100px;
    height: 80%;
}
.slider-text {
    flex: 1;
    padding: 50px;
}

.slider-text h1 {
    font-size: 70px;
}

.slider-text p {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.slider-text button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
} 